#ImageSlot {
  max-width: 200px;
  max-height: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin-right: 20px; /* Adjust as needed for spacing between items */
}

.navbar-list li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.primary-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-image {
  height: 800px;
  width: 800px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  margin-top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prompt-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px */
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 80px;
  height: 80px;
  background-color: #66b2ff;
  color: #333333;
  border-color: #66b2ff;
  border-radius: 5px;
  margin: 0 5px;
}
.sub-button {
  background-color: #66b2ff;
  color: #333333;
  border-color: #66b2ff;
  border-radius: 5px;
  height: 20px;
  width: 80px;
}

.home-grid {
  max-width: 1500px;
  margin: 0 auto; /* Center horizontally */
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  grid-gap: 5px;
}

.grid-item {
  box-sizing: border-box;
  min-height: 200px;
  min-width: 200px;

  padding: 10px;
  text-align: center;
  overflow: hidden; /* Hide overflowing content */
}
